<nav id="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/custom">custom</a></li>
    <li><a href="/sedan">sedan</a></li>
    <li><a href="/suv">suv</a></li>
    <li><a href="/truck">truck</a></li>
  </ul>
</nav>
